# .gitignore for Mission10

# .NET
bin/
obj/
*.db
*.sqlite
*.user
.vs/

# Visual Studio Code
.vscode/

# Node
node_modules/
frontend/node_modules/

# Vite cache
dist/
.vite/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*